/* COLOR */
$primary        : #455a64;
$primary-d      : #1c313a;
$primary-l      : #718792;

$secondary      : #ff5722;
$secondary-d    : #c41c00;
$secondary-l    : #ff8a50;

$accent         : #fff176;
$accent-d       : #cabf45;
$accent-l       : #ffffa8;

$black          : #000a12;
$white          : #eeeeee;

/* FONTS */

$pFont : 'Roboto', sans-serif;