/* COLOR */
$primary        : #455a64;
$primary-d      : #1c313a;
$primary-l      : #718792;

$secondary      : #2979ff;
$secondary-d    : #005b9f;
$secondary-l    : #5eb8ff;

$accent         : #fff176;
$accent-d       : #cabf45;
$accent-l       : #ffffa8;

$black          : #000a12;
$white          : #eeeeee;

/* FONTS */

$pFont : 'Roboto', sans-serif;